<%- include("partials/header"); -%>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Account summary</h2>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td>BANK</td>
            <td>ACCOUNT</td>
            <td>BALANCE</td>
        </tr>
        </thead>

        <tbody>
        <% accountsTable.forEach(element =>{ %>
            <tr>
                <td><%= element.bank_name %></td>
                <td><form action="/summary" method="post">
                        <button type="submit" class="accountTypeLink" name="selectedAccount" value="<%= element.bank_id %>"><%= element.account_type %></button>
                    </form></td>
                <td><%= element.balance %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>


</div>

<div class="col-sm-3">
    <a href="#" class="btn btn-success"><span>Data Analysis Report</span></a>
</div>
<div class="col-sm-3">
    <a href="#" class="btn btn-success"><span>Data Analysis Graph</span></a>
</div>
<div class="col-sm-6">
    <a href="#addAccount" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Account</span></a>
</div>
<%- include("partials/footer"); -%>


<!-- Add Modal HTML -->
<div id="addAccount" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

                <form action="/account" class="customRadio customCheckbox m-0 p-0" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Account</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="row mb-0">
                        <div class="row justify-content-start">
                            <div class="form-group"><label>Choose your BANK: </label>
                                <div class="row"> <input type="radio" name="bank" value="1" checked> <label>RBC</label> </div>
                                <div class="row"> <input type="radio" name="bank" value="2"> <label>Scotia Bank</label> </div>
                                <div class="row"> <input type="radio" name="bank" value="3"> <label>Itau</label> </div>
                            </div>
                        </div>
                            <div class="row justify-content-start">
                            <div class="form-group"><label>Choose your ACCOUNT TYPE : </label>
                                <div class="row"> <input type="radio" name="account_type" value="1" checked> <label>Chequing</label> </div>
                                <div class="row"> <input type="radio" name="account_type" value="2"> <label>Saving</label> </div>
                                <div class="row"> <input type="radio" name="account_type" value="3"> <label>Credit Card</label> </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" name="insert" value="Add">
                    </div>
                </form>
        </div>
    </div>
</div>